/*미디어쿼리 750px 이상*/

@media(min-width:750px) {
  a {
    color: black;
    text-decoration-line: none;
  }

  h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
  }

  body {
    margin: 0px;
  }

  #tx {
    border-right: 1px solid gray;
    width: 140px;
    display: grid;
    grid-area: sidebar;
    padding-bottom: 650px;
  }

  #dx {
    display: grid;
    grid-area: main;
  }

  #grid ol {
    margin: 0;
    padding-left: 24px;
  }

  #topattack {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #grid {
    display: grid;
    grid-template-columns: 150px 3fr;
    grid-template-rows: 662px 1fr;
    grid-template-areas: "sidebar main";
  }

  #disqus_thread {
    margin: 100px;
  }

  #dx img {
    padding-bottom: 10px;
  }

  body {
    margin: 0;
  }
}

/*미디어쿼리 750px 이상*/

@media(max-width:750px) {
  a {
    color: black;
    text-decoration-line: none;
  }

  h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
  }

  #attacker {
    border-right: 1px solid black;
    display: grid;
    grid-area: attacker;
    margin-bottom: 0px;
  }

  #defander {
    display: grid;
    grid-area: defander;
  }

  #tx {
    display: grid;
    grid-area: topbar;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "attacker defander";
  }

  #dx {
    display: grid;
    grid-area: main1;
  }

  #grid {
    display: grid;
    grid-template-rows: 300 1fr;
    grid-template-areas: "topbar""main1";
  }

}